@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    background-color: #000000;

    
}

html {
    scroll-behavior: smooth;
  }





/* Navbar */
.whole-header{
    
    padding: 30px 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #efefef;*/
    padding: 15px;

   

    
    
    /*border: 1px solid white; */
    
}

.navbar-left {
    flex:0.5;
}

.navbar-right {
    flex: 2;
    text-align: right;
}


    .logo {
        font-weight: normal;
        color: #f321f6;
        width: 200px;
        height: 100px;
    }
    


.navigation {
    list-style-type: none;
    margin: 5;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin-right: 10px;
}

.navigation li a {
    text-decoration: none;
    color: #f4b9c9;
    font-size: 20px;
}




/*middle centered image*/

.middleSection {
    display: flex;
    align-items: center;
}

.middle-image {
    
    width: 100%;
    height: auto;
    max-width: 400px; /* make image smaller */
    /*margin-right: 500px; /* add margin to create space between image and text */

    margin-left: 90px;
    

}

.Left_Text {
    text-align: left;
    width: 500px;
    margin-left: 150px;
    color: #f4b9c9;
    
}

.reviewEmbed{
    margin-left: 300px;
    margin-right: 150px;

}

/*right images*/

.about_section_content{
    display: flex;
    align-items: center;
}


.right_image{
    width: 100%;
    height: auto;
    max-width: 400px; /* make image smaller */
    margin-left: 300px; /* add margin to create space between image and text */
}
    
    








/*about button*/
.button-padding{
    padding: 20px 100px;
    text-align: center;
}

.about-button {
    background-color: transparent;
    color: rgb(234, 228, 228);
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;

    
}

.about-button:hover {
    background-color: lightgrey;
    color: #333333;
}





/*section divider*/

.section-divider {
    border: none;
    border-top: 2px solid rgb(237, 236, 236);
    margin: 50px 70px;

    margin-bottom: 0;
    
    padding: 30px 100px;
}

.AboutDivider{
    border: none;
    border-top: 2px solid rgb(237, 236, 236);
    margin: 50px 200px;

    margin-bottom: 0;
    
    padding: 30px 100px;

}

/*about*/

.about-section {
    margin: 30px 100px;
    text-align: left;
    color: #efefef;
}

.about-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.about-content {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #aaa5a5;
}

.social-icon{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    justify-content: center;
    text-align: center;

    width: 20px;

    color: #ffffff;
}








@media (max-width: 1200px) {
    
    /* about */
    .about-section {
        margin: 20px 80px;
    }

    .about-title {
        font-size: 18px;
    }

    .about-content {
        font-size: 14px;
    }

    
  

  

    /* navbar and header */
    .name {
        font-size: 20px;
    }

    .navigation {
        font-size: 15px;
    }


    

    
}

@media (max-width: 768px) {
    /* about */
   /* .about-section {
        margin: 10px 40px;
    }*/

    .about-title {
        font-size: 16px;
    }

    .about-content {
        font-size: 12px;
    }

   
   

   

    /* navbar and header */
    .name {
        font-size: 16px;
    }

    .navigation {
        font-size: 14px;
    }

  
}

@media (max-width: 600px){

    .whole-header{
    
        padding: 30px 35px;
    }
    
}


/*Hover link animation*/
a {
    color: #5a6e79;
    position: relative;
    text-decoration: none;
  }

  a:link{
    color: #5a6e79;
    position: relative;
    text-decoration: none;
  }

a:visited{
    color: #5a6e79;
    position: relative;
    text-decoration: none;
}
a:link, a:visited {
    color: #5a6e79;
    position: relative;
    text-decoration: none;
}
  a::before, a:visited {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #5a6e79;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  a:hover::before, a:visited {
    transform-origin: left;
    transform: scaleX(1);
  }






  








